//? Основные цвета
$mainColor_1: #66c05d;
$mainColor_2: #efefef;
$mainColor_3: #e5e5e5;
$mainColor_4: #333333;

//* НАСТРОЙКИ ===========================================

//? Минимальная ширина страницы
$minWidth: 320;
//? Ширина полотна (макета)
$maxWidth: 1920;
//? Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1110px;
//? Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto";
$fontSize: 14px;
//? Шаблон
%cont{
  max-width: $maxWidthContainer;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}