@media screen and (max-width: 1200px) {
  .logo__div__left div {
    padding-left: 10px;
  }

  .logo__div__right {
    padding-right: 10px;
  }

  .main__div__img_text {
    margin-left: 20px;
  }

  .spec__div__chair {
    gap: 25px !important;
    margin: 0 auto;
  }

  .spec__div__chair div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 340px;
    margin-top: 15px;
  }

  .spec__div__chair div img {
    width: 100px;
  }

  .spec__div__chair div .p1,
  .spec__div__chair div .p2,
  .spec__div__chair div button {
    margin-left: 0 !important;
  }

  .spec__div__text {
    padding: 0 15px 0 15px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1029px) {
  .spec__div__chair {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) and (max-width: 750px) {
  .spec__div__chair {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .main__div__img_text {
    padding-left: 15px;
  }

  .main__div__img {
    width: 100%;
    height: 300px !important;
  }

  .main__div__img img {
    width: 100%;
    max-width: 100%;
  }

  .main__div__img .main__div__img_text {
    margin-top: 30px;
  }

  .main__div__img .main__div__img_text h1 {
    font-size: 25px;
  }

  .main__div__img .main__div__img_text p {
    width: 210px;
    font-size: 10px;
    margin-top: 15px;
  }

  .main__div__img .main__div__img_text button {
    margin-top: 30px;
  }

  .email__div__head {
    margin-top: 50px !important;
  }

  .email__div__head .email__div__left,
  .email__div__head .email__div__right {
    padding: 15px 0 15px 25px !important;
    max-width: 450px !important;
    height: 180px !important;
  }

  .email__div__head .child__left h1,
  .email__div__head .email__div__right h1 {
    font-size: 15px !important;
  }

  .email__div__head .child__left p,
  .email__div__head .email__div__right p {
    font-size: 11px !important;
  }

  .email__div__head .child__left input,
  .email__div__head .email__div__right input {
    padding: 15px !important;
    width: 130px !important;
  }

  .email__div__head button {
    width: 130px !important;
  }

  .email__div__head .child__right img {
    width: 100px;
    height: 80px;
    margin-left: 0 !important;
  }

  .foot_cont_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 10px 0px 10px;
  }

  .foot_cont_1 .cont_1_child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    padding-bottom: 10px;
  }

  .foot_cont_1 .cont_1_child_2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .foot_cont_1 .cont_1_child_3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper__div__nav {
    height: 30px !important;
  }

  .wrapper__div__nav:nth-of-type(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .wrapper__div__logo .logo__div__left div img {
    width: 50px;
    height: 50px;
  }

  .wrapper__div__logo .logo__div__left div h1 {
    font-size: 28px;
  }

  .wrapper__div__logo .logo__div__right div {
    gap: 20px;
  }

  .wrapper__div__logo .logo__div__right div span {
    font-size: 12px;
  }

  .wrapper__div__logo .logo__div__right div button {
    max-width: 150px;
    height: 35px;
    font-size: 10px;
    padding: 8px 20px 10px 20px;
  }

  .wrapper__div__menu {
    height: 60px !important;
  }

  .wrapper__div__menu:nth-of-type(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .wrapper__div__menu nav ul li {
    padding-right: 14px !important;
  }

  .wrapper__div__menu nav ul li a {
    font-size: 13px;
  }

  .email__div__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 571px) {
  .spec__div__text {
    margin-top: 40px;
  }

  .spec__div__text h2 {
    font-size: 18px;
  }

  .spec__div__text img {
    width: 100px;
    height: 100px;
  }

  .spec__div__chair {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .spec__div__chair div {
    width: 150px;
    height: 250px !important;
  }

  .spec__div__chair div img {
    width: 70px;
    height: 100px;
    margin: 15px 0 0 0 !important;
  }

  .spec__div__chair div .p1 {
    width: 120px !important;
    font-size: 10px !important;
    margin-left: 13px;
    margin-top: 10px !important;
  }

  .spec__div__chair div .p2 {
    font-size: 13px !important;
    margin-left: 38px;
    margin-top: 10px !important;
  }

  .spec__div__chair div button {
    width: 90px !important;
    height: 25px !important;
    margin: 15px 0 0 30px;
    font-size: 10px !important;
  }

  .email__div__head .email__div__left,
  .email__div__head .email__div__right {
    width: 300px !important;
    padding: 10px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .email__div__head .email__div__left .child__left,
  .email__div__head .email__div__right .child__left {
    width: 180px;
  }

  .email__div__head .email__div__left h1,
  .email__div__head .email__div__right h1 {
    width: 120px !important;
    font-size: 12px !important;
  }

  .email__div__head .email__div__left p,
  .email__div__head .email__div__left .p3,
  .email__div__head .email__div__right p,
  .email__div__head .email__div__right .p3 {
    font-size: 10px !important;
  }

  .email__div__head .child__right img {
    width: 70px;
    height: 50px;
    margin: 30px 0 0 0 !important;
  }

  .foot_cont_1 .cont_1_child,
  .foot_cont_1 .cont_1_child_2,
  .foot_cont_1 .cont_1_child_3 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  main {
    background-color: inherit;
  }

  header {
    position: relative;
    z-index: 100;
  }

  .div__phone__btn,
  .wrapper__div__menu,
  .wrapper__div__nav {
    display: none !important;
  }

  #phone-menu {
    margin-right: 20px;
  }

  #menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px 10px;
    width: 100%;
    height: 190px;
    top: -105px;
    position: absolute;
    left: 0px;
    z-index: -1;
    background-color: white;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }

  #menu.active {
    top: 100px;
  }

  #menu .menu__phone__div_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  #menu .menu__phone__div_1 nav ul li {
    padding-top: 7px;
  }

  #menu .menu__phone__div_1 nav ul li:first-child {
    padding-top: 0;
  }

  #menu .menu__phone__div_1 nav ul li a {
    color: #66c05d;
  }

  #menu .menu__phone__div_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: end;
  }

  #menu .menu__phone__div_2 nav ul li {
    padding-top: 13px;
  }

  #menu .menu__phone__div_2 nav ul li:first-child {
    padding-top: 0;
  }

  #menu .menu__phone__div_2 nav ul li a {
    color: #66c05d;
  }

  #phone-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__div__img {
    position: relative;
    z-index: -2;
    width: 100%;
    height: 300px !important;
  }

  .main__div__img .main__div__img_text {
    margin-top: 40px;
  }

  .main__div__img .main__div__img_text h1 {
    font-size: 25px;
  }

  .main__div__img .main__div__img_text p {
    width: 190px;
    height: 40px;
    font-size: 8px;
    margin-top: 15px;
  }

  .main__div__img .main__div__img_text button {
    width: 100px;
    font-size: 10px;
    margin-top: 15px;
    padding: 0 10px 0 10px;
    height: 30px;
  }

  .spec__div__chair {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .foot_cont_1 .cont_1_child {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }

  .foot_cont_1 .cont_1_child_2 span,
  .foot_cont_1 .cont_1_child_3 span {
    font-size: 10px !important;
  }

  .foot_cont_2 div p {
    font-size: 9px !important;
  }
}